# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
**/**/__pycache__/
**/__pycache__/

# Virtual env
venv/
env/
.env
.env.dev
.env.prod

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/
